<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwException="true" autoReload="true" >
	<extensions>
		<add assembly="NLogExtensions" />
	</extensions>
	<targets>
		<target name="Errors" xsi:type="File"
						layout="${longdate} | ${logger} | ${callsite} | ${level} | ${mdc:item=ControllerInfo} | ${message}${newline}${exception:format=ToString, Data:separator=\n}"
						fileName="${basedir}/logs/Errors_${shortdate}.txt"
						keepFileOpen="true" openFileCacheTimeout="30" encoding="iso-8859-2" />
		<target name="Warnings" xsi:type="File"
						layout="${longdate} | ${logger} | ${callsite} | ${level} | ${mdc:item=ControllerInfo} | ${message}${newline}${exception:format=ToString, Data:separator=\n}"
						fileName="${basedir}/logs/Warnings_${shortdate}.txt"
						keepFileOpen="true" openFileCacheTimeout="30" encoding="iso-8859-2" />
		<target name="Trace" xsi:type="File"
						layout="${longdate} | ${logger} | ${message} | ${exception:format=toString, Data:separator=\n}"
						fileName="${basedir}/logs/Trace_${shortdate}.txt"
						keepFileOpen="true" openFileCacheTimeout="30" encoding="iso-8859-2" />
		<target name="Info" xsi:type="File"
						layout="${longdate} | ${logger} | ${callsite} | ${level} | ${mdc:item=ControllerInfo} | ${message}${newline}${exception:format=ToString, Data:separator=\n}"
						fileName="${basedir}/logs/Info_${shortdate}.txt"
						keepFileOpen="true" openFileCacheTimeout="30" encoding="iso-8859-2" />
	</targets>
	<rules>
		<logger name="*" minLevel="Error" writeTo="Errors" />
		<logger name="*" minLevel="Warn" maxLevel="Warn" writeTo="Warnings" />
		<logger name="*" minLevel="Trace" writeTo="Trace" />
		<logger name="*" minLevel="Info" maxLevel="Info" writeTo="Info" />
	</rules>
</nlog>
